In [ ]:
#Write a Python program which accepts the radius of a circle from the user and compute the area

r = int(input("Enter the radius :"))
a = 3.14*r*r
print("Area of the circle is ", a)

Enter the radius :3
Area of the circle is  28.259999999999998

In [ ]:
 #Write a Python Program to accept the details of a student like name, roll number and mark and display it

#Enter the roll number: 21
#Sample output: Name: Anisha
#Roll No: 21
#Mark: 78


r = int(input("Enter the roll number : "))
n = input(" Enter the name : ")
m = input("Enter the mark : ")
print( "Roll No: " , r)
print( " Mark : ", m)

Enter the roll number : 21
 Enter the name : ayisha
Enter the mark : 45
Roll No:  21
 Mark :  45

In [ ]:
#Write a Python program to get the largest number from a list.
#Sample input: 12, 3, 47, 10
#Sample output: 47 is the largest number.

l = [ 12, 3, 47, 10]
print(max(l))

47

In [20]:
#Given a range of first 10 numbers, write a Python program to iterate from
#start number to the end number and print the sum of the current number
#Sample input: 1….10
#Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
#Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
#Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19


#p=previous number
#i= current number

def main():
  p = 0
  for i in range(1, 11):
    sum = i + p
    print(f"Current Number {i} Previous Number {p} Sum: {sum}")
    p = i
main()

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

In [25]:
#Write a Python program to print only those numbers which are divisible of 5.
#Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

l = [10,20,33,46,55]
for i in l:
  if(i%5==0):
    print(i)

10
20
55

In [29]:
#Write a Python program to check whether a number is prime or not.
#Sample input: Enter the number: 3
#Sample output: 3 is a prime number

n=int(input("enter a number"))
c=0
for i in range(1,n+1):
  if(n%i==0):
    c=c+1
if(c==2):
  print(n, "is a prime number")
else:
  print(n, "is not a prime number")

enter a number3
3 is a prime number

In [33]:
#Write a Python program to reverse a list using for loop.
#Sample input: 10,40,30,70
#Sample output: 70,30,40,10

l=[10, 40, 30, 70]
for i in range(len(l)-1, -1, -1):
  print(l[i], end=" ")

70 30 40 10

In [40]:
#Write a Python program to print the following pattern.
#*
#**
#***
#****

i=1
while i<=4:
  j=1
  while j<=i:
    print("*",end=" ")
    j=j+1
  print()
  i=i+1

*
* *
* * *
* * * *

In [44]:
# @title Default title text
#Write a Python program to find the maximum of three numbers
#Sample input: 34,12,7
#Sample output: 34

l =[34, 12, 7]
print(max(l))

34

In [88]:
#Write a Python program to construct the following pattern, using a nested for loop.
#*
#**
#***
#****
#*****
#****
#***
#**
#*

def pattern(n):
  for i in range(1, n + 1):
    print("*" * i)
  for i in range(n - 1, 0, -1):
    print("*" * i)
pattern(5)

*
**
***
****
*****
****
***
**
*